<div class="w3-top">
<div class="w3-bar w3-light-grey top-menu">
    <div class="w3-bar-item logo">
        <img src="./assets/imgs/logo.png" width="60" title="AudioFly App">
    </div>

    <div class="d-none d-md-block">
        <a routerLink="/" class="w3-bar-item w3-button">Home</a>
        <a routerLink="/catagories" class="w3-bar-item w3-button">Catagories</a>
        <a routerLink="/songs" class="w3-bar-item w3-button">Songs</a>
        <a routerLink="/stories" class="w3-bar-item w3-button">Stories</a>
        <a routerLink="/audio-books" class="w3-bar-item w3-button">Audio Books</a>
    </div>

    <!-- This is the right part -->
    <a routerLink="/signin" class="w3-bar-item w3-button w3-right">Signin</a>
    <a routerLink="/signup" class="w3-bar-item w3-button w3-right">Signup</a>
    <div class="d-none d-sm-block">
        <a routerLink="/downloads" class="w3-bar-item w3-button w3-right">Downloads</a>
    </div>
</div>
</div>