<div class="w3-top">
<div class="w3-bar w3-light-grey top-menu">
        <div class="w3-bar-item logo">
            <a routerLink="/">
                <img src="./assets/imgs/logo.png" width="60" title="AudioFly App">
            </a>  
        </div>

        <div class="d-block">
            <form class="form">
                <input class="w3-bar-item w3-input" type="text">
                <input class="w3-bar-item w3-button w3-black" type="button" value="Search">
            </form>
        </div>

        <div class="d-none d-sm-none d-md-block">
            <!-- This is the right part -->
            <a routerLink="/signin" class="w3-bar-item w3-button w3-right">Signin</a>
            <a routerLink="/signup" class="w3-bar-item w3-button w3-right">Signup</a>
        </div>
</div>
</div>