.top-menu{
    padding: 10px;

    .logo{
        color: red;
        font-size: large;
        padding: 5px 0px;
    }

    .differ{
        padding-left: 50%;
        content: ' ';
    }

    .form{
        .w3-input{
            margin-left: 15px;
            width: 60%;
        }
        @media only screen and (max-width: 500px){
            .w3-input{
                margin-left: 25px;
                width: 50%;
            }
        }
    }
}