<div class="w3-card bar">
    <div *ngFor="let song of files; let i = index" 
    class="w3-card" [ngClass]="{'active': i === currentIndex}" (click)="playSong(song, i)">
        <img [src]="song.img || './assets/imgs/audio.jpg'" alt="Alps" style="width:100%">
    </div>
    
<!-- 
    <div class="w3-card">
        <img src="./assets/imgs/audio.jpg" alt="Alps" style="width:100%">
    </div> 
-->

    <div class="text-center">
        <button class="btn btn-danger" (click)="clear()">Clear</button>
    </div>
</div>

