<div *ngFor="let mc of musicLists | async">
    <h3>{{mc.name}}</h3>
    <div class="horizontal-scroll">
        <div *ngFor="let song of mc.list" class="w3-card-4">
            <a (click)="sendData(song)" style="cursor: pointer;">
                <img src="{{song.img || './assets/imgs/audio.jpg'}}" alt="Alps" style="width:100%">
                <div class="w3-container w3-center">
                    <p>{{song.label || 'Unknown song'}}</p>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- <h3>Recent Songs</h3>
<div class="horizontal-scroll">
    <div class="w3-card-4">
        <img src="./assets/imgs/audio.jpg" alt="Alps" style="width:100%">
    </div>
    <div class="w3-card-4">
        <img src="./assets/imgs/audio.jpg" alt="Alps" style="width:100%">
    </div>
</div> -->